/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.subcategory, .subsection {
  width: 50%;
  float: left;
}

.category {
  width: 100%;
  height: auto;
  clear: both;
}

section, aside {
  border: 1px solid black;
}

input {
  width: 25%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
label, input, button {
  display: block;
}

input {
  width: 50%;
}

select {
  width: 35%;
}