/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
section > section {
  width: 50%;
  float: left;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
